<%= render "navbar" %>

<h1>Pins</h1>


<div class="container col-lg-10 col-md-offset-1">
<div class="row">
	<% @pins.each do |pin| %>
	<center>
	<div class="col-sm-3 pro">
	<img src="<%= pin.image %>" style="width: 50px"> 
	<p><a href="<%= pin.url %>"><%= pin.url %></a></p>
	
		<p><%= pin.comment %><br></p>
		<p><a href="/pins/<%= pin.id %>">More</a></p>
		

	</div>
	</center>
	<% end %>
	
</div>
</div>
